<div class="chat_header">
   <div class="left-header">
    <div class="header-title">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="message-name">Tom
      <div class="create-date">2022/3/31(wed) 12:34:56</div>
    </div>
    <div class="message-text">おはよう</div>
  </div>
  <div class="message">
    <div class="message-name">Sim
    <div class="create-date">2022/3/31(wed) 12:34:57</div>
    </div>
    <div class="message-text">おはよう</div>
  </div>
</div>

<div class="message_form">
  <div class="form-input">
    <input class="text-form" type="text" placeholder="type a message">
    <label class="text-image">
      <span class="image-file">画像</span>
      <input type="file", class="hidden">
    </label>
  </div>
  <input class="text-btn" type="submit" value="送信">
</div>
