<div class="wrapper">
  <div class="side_bar">
    <div class="side_bar_header">
    </div>
    <div class="room_list">
      <%= render "side_bar" %>
    </div>
  </div>
  <div class="main_chat">
    <div class="chat_header">
    </div>
    <div class="messages">
      <%= render "main_chat" %>
    </div>
    <div class="message_form">
    </div>
  </div>
</div>